.reviews {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  padding-bottom: 50px;
}

.reviews-header {
  font-size: 32px;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  
}

.testimonial {
  padding: 16px;
  box-sizing: border-box;
  outline: none;
  height: 155px;
  background: #fafafa;
  border-top: 3px solid #e58880;
  border-right: 3px solid #e58880;
  border-radius: 24px;
}

.testimonial-text {
  font-size: 16px;
  font-style: italic;
  color: #333;
  margin-bottom: 16px;
}

.testimonial-user {
  display: flex;
  gap: 16px;
}

.testimonial-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 15%;
}

.testimonial-info h6 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.testimonial-info p {
  margin: 4px 0 0;
  font-size: 14px;
  color: #555;
}


.slick-slide {
  padding-right: 20px;
  padding-top: 20px;
}

.slick-list {
  margin-bottom: 15px;
}